:root {
    --first: #6c63ff;
    --second: #3d33ff;
    --bs-font-sans-serif: "Plus Jakarta Sans";
    --bs-body-font-family: var(--bs-font-sans-serif);
}

ul li{
    padding: 0 15px;
    cursor: pointer;
}
ul li:hover{
    color: var(--first);
}

@media screen and (max-width: 800px) {
    ul li:hover {
        color: white;
    }
    li {
        color: white;
    }
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.profileCard {
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  @media (max-width: 767px) {
    .profileCard {
      width: 100%;
    }
  }
  .alumniListcardContainner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.alumniCard {
    width: calc(49% - 10px);
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  @media (max-width: 767px) {
    .alumniCard {
      width: 100%;
    }
  }
  